body {
  font-family: monospace;
  color: #E36545;
  background-image: url("stars.jpg");
  background-size: cover;
}


h1 {
  font-size: 3em;
  margin-top: 3em;
  margin-bottom: 1.5em;
  text-align: center;
  text-shadow: 2px 2px black;
}

img {
  display: block;
  margin: auto;
}


.controls {
  display: inline-block;
  margin: auto;
}


.north {
   transform: rotate(0deg);
}

.east {
   transform: rotate(90deg);
}

.south {
   transform: rotate(180deg);
}

.west {
   transform: rotate(-90deg);
}
